/* body{
    font: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
} */

h1{
    color: #6db3f6;
    font-family: 'Silkscreen', cursive;
    font-size: 36px;
}

.bg-button {
    position: relative;
    display: inline-block;
  }

 .color {
    opacity: 0;
    left: 50%;
    top: 50%;
  }